/*noinspection ALL*/
@reference "tailwindcss";

.tags {
    @apply flex gap-1;
    @apply p-1;
}

.tag {
    /* base styling */
    @apply border-1 border-gray-300 rounded-sm;
    @apply bg-gray-100;
    @apply py-1 px-2;
    @apply text-xs text-gray-500;

    /* extended hover styling */
    @apply hover:border-gray-400;
    @apply hover:bg-gray-200;
    @apply hover:cursor-pointer;
}
