/*noinspection ALL*/
@reference "tailwindcss";

.todos {

}

.todo {
    @apply m-2 p-2;
    @apply border-1 border-gray-600 rounded-xl;
    @apply bg-white;
}

.title {
    @apply text-base font-medium;
}

.description {
    @apply text-sm font-thin;
}
