/*noinspection ALL*/
@reference "tailwindcss";

.todos {

}

.todo {
    @apply m-2 p-2;
    @apply border-1 border-gray-600 rounded-xl;
    @apply bg-white;

    display: grid;
    grid-template-columns: 28px 1fr 20px;
    grid-template-areas:
        'lActions title rActions'
        'lActions description rActions'
        'lActions tags rActions';
}

.title {
    @apply text-base font-medium;
    grid-area: title;
}

.description {
    @apply text-sm font-thin;
    grid-area: description;
}

.tags {
    grid-area: tags;
}

.lActions {
    @apply w-10;
    grid-area: lActions;
}

.rActions {
    @apply w-10;
    grid-area: rActions;
}
