.header {
  border-bottom: 1px solid #dfdfdf;
  background-color: #f6f6f6;
  padding: 1rem;

  /* temp */
  margin: -1rem -1rem 0 -1rem;

  h2 {
    margin: 0;
    font-weight: 500;
    line-height: 1.5rem;
  }
}
