.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

.modal {
  border: none;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
  padding: 1rem;
  overflow: hidden;
  z-index: 2;

  min-width: 24rem;
}

.closeAction {
  position: absolute;
  right: 0;
  top: 0;

  > button {
    border: unset;
    background: unset;

    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;

    cursor: pointer;
  }
}
